@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nerko+One&display=swap');
html {
    height: 100%;
    width: 100%;
  }

body{
  margin: 0;
  background-color: rgb(9, 15, 38);
}

#barraUp {
  display: flex;
  height: 159px;
  width: 100%;
  background-color: rgb(64, 79, 140);
}

#nasa {
  padding: 31px 31px;;
}

.josefinTxt{
  color: rgb(164, 192, 212);
  font-family:'Josefin Sans';
  font-weight: normal;
  text-align: justify;
  line-height: 140%;
  font-size: 26px;
}

.nerkoTxt{
  font-family: 'Nerko One';
  font-weight: normal;
  color: rgb(255, 255, 255);
  font-size: 36px;
  
}

#AS{
  position:absolute;
  left: 190px;
  bottom: 745px;
}

#NA{
  position: absolute;
  left: 350px;
  bottom: 745px;

}

#IS{
  position: absolute;
  left: 475px;
  bottom: 743px;

}

#esc{
  width: 400px;
  height: 54px;
  background-color: white;
  position: absolute;
  left: 1180px;
  bottom: 760px;
}

#e{
  color: rgb(87, 87, 87);
  margin: 0px;
  padding: 14px 18px;
  font-size: 26px;
}

#buscar{
  width: 152px;
  height: 54px;
  background-color: white;
  position: absolute;
  left: 1608px;
  bottom: 760px;
}

#b{
  color: rgb(87, 87, 87);
  margin: 0px;
  padding: 14px 42px;
  font-size: 26px;
}

#cont1{
  margin: 1;
}

#text1{
  padding: 0px 770px 0px 60px;
}

#imgBob{
  position: absolute;
  left: 1190px;
  bottom: 40px;
}

#colorA{
  font-family: 'Nerko One';
  font-weight: normal;
  font-size: 30px;
  margin: 0px;
  padding: 70px 0px 20px 390px;
  color:rgb(218, 127, 94)
}

#sec{
  font-family: 'Nerko One';
  font-weight: normal;
  font-size: 38px;
  margin: 0px;
  padding: 0px 0px 0px 10px;
  color:rgb(218, 127, 94)
}

#txtA {
  margin: 0px;
}

#txt2{
  position: absolute;
  bottom: 215px;
  padding: 0px 60px 0px 1418px;
}


